config poemgr 'settings'
        option profile 'unreal-tek'
        option power_budget '56'
        option power_guardband '6'

config port 'lan1'
        option name 'lan1'
        option port '0'
        option pse_port '3'

config port 'lan2'
        option name 'lan2'
        option port '2'
        option pse_port '2'
        option power_budget '31'

config port 'lan3'
        option name 'lan3'
        option port '2'
        option pse_port '1'
        option power_budget '31'

config port 'lan4'
        option name 'lan4'
        option port '3'
        option pse_port '0'
        option power_budget '31'

config port 'lan5'
        option name 'lan5'
        option port '4'
        option pse_port '7'
        option power_budget '31'

config port 'lan6'
        option name 'lan6'
        option port '5'
        option pse_port '6'
        option power_budget '31'

config port 'lan7'
        option name 'lan7'
        option port '6'
        option pse_port '5'
        option power_budget '31'

config port 'lan8'
        option name 'lan8'
        option port '7'
        option pse_port '4'
        option power_budget '31'
